body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    gap: 10px;
}
.buttons {
    display: flex;
    gap: 10px;
}

#container {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 1 0;
    display: flex;
}

.block {
    flex: 1 1 0;
    border: 1px solid black;
}

