body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 1 0;
    display: flex;
}

.block {
    flex: 1 1 0;
    border: 1px solid black;
}

