body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    gap: 10px;
}
.buttons {
    display: flex;
    gap: 10px;
}

#container {
    border: 1px solid black;
    height: 30vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    cursor: crosshair;
}

.row {
    flex: 1 1 0;
    display: flex;
}

.block {
    flex: 1 1 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 600px) {
    #container {
        height: 500px;
        width: 500px;
    }
}